{% extends 'main_app/base.html' %}

{% block content %}


<section>
    <div class="text-center p-3 txt">
        <h1>Welcome to my Travel Book</h1>
        <h2>Liste de mes précédents voyages</h2>
    </div>
    {% for voyage in anciens_voyages %}
    <div class="container-fluid bloc-voyage text-center p-3">
        <h3>{{ voyage.title }}</h3>
        <h3>({{ voyage.date_start }} au {{ voyage.date_end }})</h3>

        <div class="container-fluid">
            <div class="row">
                {% for etape in voyage.step_set.all|slice:":3" %}
                <div class="col-4 bloc-etape text-center">
                    <h4><ins>{{ etape.city }}</ins></h4>
                    <h5>{{ etape.data_step }}</h5>
                    <p>{{ etape.summary }}</p>

                    {% for visite in etape.stopover_set.all %}
                    <li class="bloc-visite">
                        <a href="{{ visite.url }}">{{ visite.title }}</a>
                    </li>
                    {% endfor %}

                </div>
                {% endfor %}
                <p><a href="">Plus de détails</a></p>
            </div>

        </div>

    </div>
    {% endfor %}


</section>

{% endblock %}